.square-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.square {
  position: relative;
  flex-basis: calc(20% - 10px);
  margin: 5px;
  /* border: 1px solid; */
  box-sizing: border-box;
}

.square::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.square .content {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;

}

.square .content img {
    height: 100%;
    width: 100%;
    object-fit: contain
}